img {
  width: 100%;
  height: 100%;
}
.body {
  width: 100%;
  /* height: 3rem; */
  background-color: rgb(245, 245, 245);
}
.body_area {
  width: 7rem;
  /* height: 3rem; */
  margin: 0 auto;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.body_area-left {
  width: 4rem;
  /* background-color: pink; */
}
.body_area-right {
  width: 2.5rem;
  /* height: 4rem; */
  background-color: orange;
}
.body_area-left-li {
  width: 100%;
  height: 1.5rem;
  /* background-color: aqua; */
  font-size: 0;
  display: flex;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
.body_area-left-li_image {
  width: 1.5rem;
  height: 1.5rem;
}
.body_area-left-li_brief {
  width: 2.5rem;
  height: 1.5rem;
  background-color: white;
  font-size: 0.18rem;
  padding: 0.1rem;
}
.body_area-left-li_brief-author {
  font-size: 0.12rem;
}
.body_area-left-li_brief-content {
  font-size: 0.14rem;
  width: 2.2rem;
  height: 0.7rem;
  /* background-color: pink; */
  overflow: hidden;
}
.page{
  width: 100%;
  display: flex;
  font-size: 0.2rem;
  justify-content: center;
}
.page_color{
  color: red;
}
/* .page_left{
  background-color: aqua;
} */
.page_width{
  width: 1.6rem;
  line-height: 0.3rem;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.join_my{
  font-size: 0.3rem;
}