
input {
  border: none;
}
.login {
  width: 5.5rem;
  height: 7rem;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  font-size: 0.35rem;
  text-align: center;
  line-height: 0.5rem;
  border-radius: 0.3rem;
  color: white;
  top: -0.2rem;
  right: -0.2rem;
}
.login_left {
  width: 5.5rem;
  height: 6rem;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.login_s {
  width: 100%;
  font-size: 0.4rem;
}
.name {
  font-size: 0.3rem;
}
.login-ipt_name {
  height: 1rem;
  border: 0.02rem solid;
}
.psd {
  font-size: 0.3rem;
}
.login-ipt_psd {
  margin-left: 0.24rem;
  height: 1rem;
  border: 0.02rem solid;
}
.email {
  font-size: 0.3rem;
}
.checkbo_x {
  width: 4rem;
  font-size: 0.3rem;
  display: flex;
  align-items: center;
}
.check_box {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
}
.login_login {
  width: 4.5rem;
  height: 0.8rem;
  background-color: #eb4235;
  color: white;
  font-size: 0.4rem;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 0.8rem;
  cursor: pointer;
}
.campus {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}